# MOSS 的环境变量配置.
# 默认的环境变量记录在这里.
# 需要 copy .env.example 到 .env 并且修改关键值生效.


# --- 系统开箱即用的模型环境变量配置.

# 模型的 base url, 兼容 openai api
MOSS_MODEL_BASE_URL="base_url"
# 默认模型服务的 API Key
MOSS_MODEL_API_KEY="api_key"
# 默认模型服务的 模型名称.
MOSS_MODEL_NAME="default model name"