name: Run Tests

on:
  workflow_call:

concurrency:
  group: api-tests-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    name: Run All python tests
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        python-version:
          - "3.10"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake portaudio19-dev python3-pyaudio libgl1-mesa-dev libglu1-mesa-dev

      - name: Setup UV and Python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          cache-dependency-glob: uv.lock

      - name: Check UV lockfile
        run: uv lock --check

      - name: Install dependencies
        run: uv sync --dev --all-extras --frozen

      - name: Run Tests
        env:
          DEBUG: true
        run: |
          uv run --dev pytest
