version: '3.8'

services:
  minecraft-server:
    image: itzg/minecraft-server
    container_name: mcserver
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      MEMORY: 6G
      VERSION: "1.21.8"
      TYPE: FABRIC
    volumes:
      - ./data:/data
    restart: unless-stopped